.meal-image{    
    max-width: 100%;
    height: auto;
    max-height: 300px;
    /* border-radius: 20px; */
}

.text-class h1{
    font-size: 18px;
    font-weight: bold;
    /* text-align: center; */
}

.text-class p{
    color: red;
    /* text-align: center; */
    font-size: 15px;
}

.card{
    width: max-content;
    margin: auto;
    /* padding: 10px; */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    transform: scale(1.05);
}

.inner-button{
    width: 100%;
    display: grid;
    height: 50px;
}

.modal-body{
    padding: 5px;
}

.modal-body h1{
    font-weight: inherit;
    /* font-size: 1em; */
    font-size: 20px;
    text-align: center;
    color: red;
    padding-bottom: 5px;
}

.modal-body p{
    text-align: justify;
}